<h1 class="ui header">
    <i class="circular cube icon"></i>
    <div class="content">
        <span>{{ resource.subject }}</span>
        <div class="sub header">{{ resource.createdAt|date }}</div>
    </div>
</h1>
